<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="BaseDatabasePath" value="c:/Databases"/>
    <add key="DoWindowsAuthentication" value="false"/>
    <add key="NumberOfWorkerThreads" value="10"/>
    <add key="ServerActivityLogFile" value=""/> 
    <add key="TcpIpPortNumber" value="7031"/> 
    <add key="MaximumMemoryUse" value="10000000000"/> 
  </appSettings>
</configuration>
