<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NMoneys" version="6.1.2" targetFramework="net48" />
  <package id="NodaTime" version="1.4.3" targetFramework="net452" />
  <package id="System.Diagnostics.Contracts" version="4.3.0" targetFramework="net48" />
  <package id="System.Xml.XPath" version="4.3.0" targetFramework="net48" />
  <package id="VelocityDB" version="11.1.1" targetFramework="net48" />
</packages>