<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="net461" />
  <package id="Frontenac.Blueprints" version="2.4" targetFramework="net46" />
  <package id="LumenWorksCsvReader" version="3.9.1" targetFramework="net461" />
  <package id="Microsoft.Data.Edm" version="5.8.3" targetFramework="net461" />
  <package id="Microsoft.Data.OData" version="5.8.3" targetFramework="net461" />
  <package id="Microsoft.Data.Services.Client" version="5.8.3" targetFramework="net461" />
  <package id="Microsoft.SyncFramework" version="2.1.0.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="NMoneys" version="6.0.0" targetFramework="net461" />
  <package id="NodaTime" version="2.2.1" targetFramework="net461" />
  <package id="NUnit" version="2.6.4" targetFramework="net46" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.3.0" targetFramework="net461" />
  <package id="System.Diagnostics.Contracts" version="4.3.0" targetFramework="net461" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net461" />
  <package id="System.Spatial" version="5.8.3" targetFramework="net461" />
  <package id="System.Xml.XPath" version="4.3.0" targetFramework="net461" />
  <package id="VelocityDB" version="7.1.0" targetFramework="net461" />
  <package id="VelocityDBExtensions" version="7.1.0" targetFramework="net461" />
  <package id="VelocityGraph" version="7.1" targetFramework="net461" />
</packages>