<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net40" />
  <package id="Frontenac.Blueprints" version="2.3.10" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net40" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="VelocityDb" publicKeyToken="9d412ecd5a0c8179" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.6.0" newVersion="5.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</packages>
