<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DatabaseManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <DatabaseManager.Properties.Settings>
            <setting name="BaseDatabasePath" serializeAs="String">
                <value>C:/Databases</value>
            </setting>
            <setting name="TcpIpPortNumber" serializeAs="String">
                <value>7031</value>
            </setting>
            <setting name="MaximumMemoryUse" serializeAs="String">
                <value>10000000000</value>
            </setting>
            <setting name="DoWindowsAuthentication" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DatabaseManagerDirectory" serializeAs="String">
                <value>C:/Databases/DatabaseManager</value>
            </setting>
            <setting name="DatabaseManagerHost" serializeAs="String">
                <value />
            </setting>
            <setting name="UseClientServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WaitForLockMilliseconds" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="OrderDatabasesByName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableChangeTracking" serializeAs="String">
                <value>False</value>
            </setting>
        </DatabaseManager.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="VelocityDb" publicKeyToken="f050dff7995aa24a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.6.0.0" newVersion="8.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Frontenac.Blueprints" publicKeyToken="f8f0b8cb1a55f367" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
